<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="notifications.length > 0">
    <ion-item *ngFor="let notif of notifications" [class.unread]="notif.status === 'sent'">
      <ion-label>
        <h2>{{ notif.message }}</h2>
        <p>{{ notif.created_at | date: 'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="notifications.length === 0" class="ion-padding">
    <p>Tidak ada notifikasi.</p>
  </div>
</ion-content>
